<div class="container main">
    <section class="servicios">
        <h2>Nuestros servicios</h2>
        <div class="service-grid">
            <div class="service">
                <a href="/terapeuticos">
                    <img public="assets/img/ejercicios-terapeuticos.jpg" alt="Servicio 1">
                    <h3>Servicio Terapeutico</h3>
                </a>
            </div>

            <div class="service">
                <a href="/administrativos">
                    <img src="assets/img/administrativo.jpg" alt="Servicio 2">
                    <h3>Servicio Administrativo</h3>
                </a>
            </div>
        
            <div class="service">
                <a href="/digitales">
                    <img src="assets/img/digitales-serv.jpg" alt="Servicio 3">
                    <h3>Servicio Digital</h3>
                </a>
            </div>

            <div class="service">
                <a href="/fisico-deportivos">
                    <img src="assets/img/deporte.jpg" alt="Servicio 4">
                    <h3>Servicio Fisico-Deportivo</h3>
                </a>
            </div>
            
            <div class="service">
                <a href="/educativos-socioculturales">
                    <img src="assets/img/sociocultural.jpg" alt="Servicio 5">
                    <h3>Servicios Educativos y Socioculturales</h3>
                </a>
            </div>         
        </div>
    </section>
</div>