<header>
    <br>
    <br>
    <br>
    <h1>Servicio Terapeutico</h1>
</header>
<div class="container">
    <div class="section">
        <h2>¿Que ofrecemos?</h2>
        <p>En el servicio terapeutico ofrecemos masajes terapeuticos, aromaterapia y cosmética natural terapéutica.</p>
        <p>Todos nuestros trabajadores son profesionales de las practicas terapeuticas.</p>
    </div>
    <div class="section">
        <h2>Sección de Imagen</h2>
        <img src="assets/img/MT.jpg" alt="Descripción de la imagen">
        <p>Masajes terapeuticos.</p>
    </div>
    <div class="section">
        <h2>Sección de Información</h2>
        <p>Para obtener mas información pulse el boton de abajo.</p>
        <a href="#" class="button">Obtener mas información</a>
    </div>
</div>

